{% extends 'adminlte/base.html' %}
{% load static %}


{# Override the 'title' block from base.html #}
{% block title %}N’osairis-Sight{% endblock %}


{% block nav_links_ul %}
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    {% block nav_links_outer %}
    <li class="nav-header">{% block nav_heading %}MAIN MENU{% endblock %}</li>

    {% block nav_links %}

    {% endblock nav_links %}
    {% endblock nav_links_outer %}
    </ul>
</nav>
{% endblock nav_links_ul %}